.theme-green .navbar{
	background: #20c997;
}

/* ---- Custom style.css ---- */
/* .theme-green .sidebar .user-info {
    background: #20c997;    
}

.theme-green .sidebar .menu {
    background: #20c997;    
}

.theme-green .sidebar .menu .list .header {
    background: #20c997;
    color:white;
}

.theme-green .sidebar .menu .list i.material-icons {
    color :white; 
}

.theme-green .sidebar .menu .list a span {
    color: white;
} */

.theme-green .sidebar .menu .list li.active > :first-child i, .theme-green .sidebar .menu .list li.active > :first-child span {
    color: #20c997;
}
div#icon-content {
    border: 4px solid rgba(165, 220, 134, 0.2);;
    border-radius: 50%;
    width: 85px;
    height: 85px;
    /* margin: auto; */
    margin: 25px auto 35px;
    padding: auto;
    /* padding-top: 25px; */
    /* font-size: 4px; */
    /* padding: 44px; */
    padding: 0;
    /* text-align: center; */
    position: relative;
}
i#icon-done {
    color: #A5DC86;
    /* font-size: 40px; */
    position: relative;
    /* top: 50%; */
    font-size: 65px;
    /* left: 50%; */
    /* bottom: 50%; */
    position: absolute;
    display: inline-block;
    /* margin-left: -19px; */
    left:8px;
    top: 7px;
}
input#btn-message {
    /* padding: 5px 20px; */
    box-shadow: none;
    font-size: 16px;
    background-color: rgb(140, 212, 245) !important;
}
#modal-message{
/*    bottom: 25%;
    top:25%;*/
}
#modal-content-detail-krs{
    padding: 17px;
    text-align: center;
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
@media (min-width: 768px){
    #modal-dialog-detail-krs{
        width: 478px;
        margin: 30px auto;
    }
}


#modal-options{
    position:fixed;
    bottom:30px;
    right:30px;
    margin:0; 
    z-index: 1;
    border-radius: 50%;
    width:56px; 
    height: 56px;
}
#modal-delete{
    position:fixed;
    bottom:160px;
    right:30px;
    margin:0; 
    z-index: 1;
    border-radius: 50%;
    width:56px; 
    height: 56px;
    background-color: #fb483a !important;
    display: none;
}
#modal-view{
    position:fixed;
    bottom:280px;
    right:30px;
    margin:0; 
    z-index: 1;
    border-radius: 50%;
    width:56px; 
    height: 56px;
    background-color: #2b982b !important; 
    display: none;
}
#modal-edit{
    position:fixed;
    bottom:220px;
    right:30px;
    margin:0; 
    z-index: 1;
    border-radius: 50%;
    width:56px; 
    height: 56px;
    background-color: #00b0e4 !important; 
    display: none;
}
#modal-button {
    position:fixed;
    bottom:100px;
    right:30px;
    margin:0; 
    z-index: 1; 
    border-radius: 50%;
    width:56px; 
    height: 56px;
    background-color: #1f91f3 !important;
    display: none;
}

.mar-bot{
    margin-bottom:20px;
}

.time-jadwal{ 
    width: 100%; 
    border: none;
    border-bottom: 1px solid darkgray;
    background-color: transparent;
    padding: 4px 4px 4px;
}
.select-ajax{
    border: none;
    border-bottom: 1px solid darkgray;
    background-color: transparent;
    padding: 3px 5px 5px;
}

/*=====HOME CSS=====*/

.navbar-default {
    background-color: #009688;
    border-color: #009688;
}
.navbar-default .navbar-brand,.navbar-default .navbar-nav>li>a {
    color: #fff;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: white;
}

.hexagon {
  position: relative;
  width: 200px; 
  height: 115.47px;
  margin: 57.74px 0;
  background-image: url(/images/abstract-lines.jpg);
  background-size: auto 230.9401px;
  background-position: center;
  box-shadow: 0 0 20px rgba(0,0,0,0.6);
}

.hexagon.one{background-image: url(/images/blue-comic.jpg);}
.hexagon.two{background-image: url(/images/watercolour.jpg);}
.hexagon.three{background-image: url(/images/yellow-stripes.jpg);}

.hexTop,
.hexBottom {
  position: absolute;
  z-index: 1;
  width: 141.42px;
  height: 141.42px;
  overflow: hidden;
  -webkit-transform: scaleY(0.5774) rotate(-45deg);
  -ms-transform: scaleY(0.5774) rotate(-45deg);
  transform: scaleY(0.5774) rotate(-45deg);
  background: inherit;
  left: 29.29px;
  box-shadow: 0 0 20px rgba(0,0,0,0.6);
}

/*counter transform the bg image on the caps*/
.hexTop:after,
.hexBottom:after {
  content: "";
  position: absolute;
  width: 200.0000px;
  height: 115.47005383792516px;
  -webkit-transform:  rotate(45deg) scaleY(1.7321) translateY(-57.7350px);
  -ms-transform:      rotate(45deg) scaleY(1.7321) translateY(-57.7350px);
  transform:          rotate(45deg) scaleY(1.7321) translateY(-57.7350px);
  -webkit-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  transform-origin: 0 0;
  background: inherit;
}

.hexTop {
  top: -70.7107px;
}

.hexTop:after {
  background-position: center top;
}

.hexBottom {
  bottom: -70.7107px;
}

.hexBottom:after {
  background-position: center bottom;
}

.hexagon:after {
  content: "";
  position: absolute;
  top: 0.0000px;
  left: 0;
  width: 200.0000px;
  height: 115.4701px;
  z-index: 2;
  background: inherit;
}

.col-md-2.col-content-left {
    padding-right: 0;
    margin-top: 65px;
}
.col-md-1.col-image-left {
    padding-left: 0;
    margin-top: 50px;
}

.col-md-2.col-content-right {
    padding-left: 0;
    margin-top: 65px;
}
.col-md-1.col-image-right {
    padding-right: 0;
    margin-top: 50px;
}

.col-md-1.col-image-left-bottom,.col-md-1.col-image-right-bottom {
    margin-top: 100px;
}

.col-sm-12.col-md-2.col-md-offset-1.col-content-left-bottom {
    margin-top: 110px;
    padding-right: 0;
}

.col-content-right-bottom{
    margin-top: 110px;
    padding-left: 0;
}
.col-content-left-bottom {
    margin-top: 110px;
    padding-right: 0;
}

/*html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
/*article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}*/

#lab {
    width: 1000px;
    overflow: hidden;
    padding-bottom: 70px;
    position: relative;
    margin: 0 auto;
    margin-bottom: 2.5em;
    /*background: rgb(236, 236, 236);*/

    -webkit-transition: all ease 500ms;
    -moz-transition: all ease 500ms;
    -o-transition: all ease 500ms;
    -ms-transition: all ease 500ms;
    transition: all ease 500ms;
}

h1 {
    font-family: bebas_neueregular ,sans-serif;
    font-size: 1.75em;
    padding: 0.2em 0 0.2em 0.2em;
    color: white;
    text-shadow: 0 0.06em 0 #424242;
    position: relative;
}

#lab h1 {
    background: #B0DAD4;
}

.beaker {
    -webkit-filter: drop-shadow(#424242 0px 1px 0px);
    border-bottom: 2em solid #FFF;
    border-left: 1em solid transparent;
    border-right: 1em solid transparent;
    border-radius: .5em;
    height: 0;
    width: 1em;
    position: absolute;
    right: 0.7em;
    bottom: 22%;
    font-size: 0.6em;
}

.beaker::before {
    border-left: .25em solid #FFF;
    border-radius: .25em;
    border-right: .25em solid #FFF;
    content: '';
    height: .25em;
    left: -.25em;
    position: absolute;
    top: -1em;
    width: 1em;
}

.beaker::after {
    border-left: .25em solid #FFF;
    border-right: .25em solid #FFF;
    content: '';
    height: 1em;
    left: 0;
    position: absolute;
    top: -1em;
    width: .5em;
}

.sectionheader {
    position: relative;
}

.lab_item {
    width: 200px;
    height: 230px;
    position: relative;
    display: inline-block;
}

.hexagon2 {
    position: absolute;
    width: 200px;
    height: 400px;
    top: -85px;
}

.hexagon {
    overflow: hidden;
    visibility: hidden;

    -webkit-transform: rotate(120deg);
    -moz-transform: rotate(120deg);
    -o-transform: rotate(120deg);
    -ms-transform: rotate(120deg);
    transform: rotate(120deg);
    cursor: pointer;
}

.hexagon-in1 {
    overflow: hidden;
    width: 100%;
    height: 100%;

    -webkit-transform: rotate(-60deg);
    -moz-transform: rotate(-60deg);
    -o-transform: rotate(-60deg);
    -ms-transform: rotate(-60deg);
    transform: rotate(-60deg);
}

.hexagon-in2 {
    /*-webkit-box-shadow: inset 0 0 0 200px rgba(176, 218, 212, 0.48);
    box-shadow: inset 0 0 0 200px rgba(176, 218, 212, 0.48);*/
    box-shadow: 0 0 20px rgba(0,0,0,0.6);
    overflow: hidden;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: 50%;

    -webkit-background-size: 125%;
    -moz-background-size: 125%;
    background-size: 125%;
    visibility: visible;

    -webkit-transform: rotate(-60deg);
    -moz-transform: rotate(-60deg);
    -o-transform: rotate(-60deg);
    -ms-transform: rotate(-60deg);
    transform: rotate(-60deg);

    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

/*.hexagon-in2:hover {
    -webkit-box-shadow: inset 0 0 0 0px #B0DAD4;
    box-shadow: inset 0 0 0 0px #B0DAD4;
}*/

.lab_item.first {
    margin-top: -64px;
}

.lab_item.second {
    margin-top: -28px;
}

#lab article {
    padding-top: 1em;
    width: 820px;
    margin: 0 auto;
}

.lab_item:nth-child(7n-2) {
    margin-left: 101px;
}

.lab_item:nth-child(n+5) {
    margin-top: -55px;
}

@media (max-width: 1015px) {
    #lab {
    width: 100%;
}

}

@media (max-width: 820px) {
    .lab_item:nth-child(5n-1) {
    margin-left: 102px;
}

.lab_item:nth-child(n+4) {
    margin-top: -62px;
}

.lab_item:nth-child(7n-2) {
    margin-left: 0px;
}

.lab_item:nth-child(n+5) {
    margin-top: -56px;
}

#lab article {
    width: 610px;
}

}

@media (max-width: 640px) {
    #lab article {
    width: 405px;
}

.lab_item:nth-child(5n-1) {
    margin-left: 0px;
}

.lab_item:nth-child(3n) {
    margin-left: 102px;
}

.lab_item:nth-child(n+3) {
    margin-top: -56px;
}

}

@media (max-width: 450px) {
    #lab article {
    width: 300px;
}

.lab_item:nth-child(3n) {
    margin-left: 0px;
}

.lab_item:nth-child(2n) {
    margin-left: 102px;
}

.lab_item:nth-child(n+2) {
    margin-top: -56px;
}

}


@media only screen and (max-width: 767px) {
    .col-content-left {
        padding-right: 15px; 
        margin-top: 70px;
    }
    .col-content-right {
        padding-left: 15px;
        margin-top: 70px;
    }
    .col-content-left-bottom{
        margin-top: 65px;
        margin-bottom: -50px;
    }
    .col-image-right, .col-image-left, .col-image-left-bottom, .col-image-right-bottom{
        display: none;
    }
    .lab_item.first {
        margin-top: -55px;
    }
    .lab_item.first.res {
        margin-top: 5px;
    }
    .col-sm-12.col-md-2.col-md-offset-1.col-content-left-bottom {
    margin-top: 50px;
    margin-bottom: -50px;
     padding-right: 15px; 
    }

    .col-md-2.col-content-right-bottom {
        margin-top: 70px;
        padding-left: 15px;
    }

    .lab_item.second {
        margin-top: 5px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 992px){
    .col-image-right, .col-image-left, .col-image-left-bottom, .col-image-right-bottom{
        display: none;
    }
   /* .col-image-left{
        display: block;
    }*/
    .col-content-right {
        padding-left: 15px;
        margin-top: 85px;
    }

    .col-content-left-bottom {
        padding-left: 15px;
        margin-top: 115px;
    }
}

.bg-gradient {
    background-image: linear-gradient(to right, rgba(0, 98, 102,1.0), rgba(26, 188, 156,1.0));
}

img.mybg {
    /* Set rules to fill background */
    min-height: 100%;
    min-width: 1024px;
  
    /* Set up proportionate scaling */
    width: 100%;
    height: auto;
  
    /* Set up positioning */
    position: fixed;
    top: 0;
    left: 0;
  
    /*new*/
    /*style="z-index: -1;"*/
  }


/*===== END HOME CSS =====*/


/* ---- End Custom style.css ---- */
